#version: '3.9'

services:
  order-service:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: order-service
    restart: always
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/practical_course?currentSchema=order_service
      SPRING_DATA_REDIS_HOST: redis
      USER_SERVICE_URL: http://user-service:8080
#    depends_on:
#      - postgres
#      - redis
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true
