version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: practical_course
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - microservices-net

  order-service:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: order-service
    restart: always
    ports:
      - "8082:8082"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/practical_course?currentSchema=order_service
      SPRING_DATA_REDIS_HOST: redis
      USER_SERVICE_URL: http://user-service:8080
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true
